<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS_disease_model.css') }}">
        <!-- <link rel="stylesheet" href="CSS_disease_model.css" /> -->
        <title>Simulation of epidemiological models</title>
    </head>

    <body>
        <div id="bloc_page">
		
            <header>
                <div id="title_principal">
                    <img src="static/pictures/earth.png" alt="Logo Spreading of Diseases" id="logo" />					
                    <h1>Simulation of epidemiological models</h1>
                </div>
            </header>
			
		<img src="static/pictures/separation.png" alt="" id="line" />
		
            <section>
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/models">The Models</a></li>
                        <li><a href="/application">The Application</a></li>
                        <li><a href="/contacts">Contact</a></li>
                    </ul>
                </nav>
				
                <article>
				<!-- The mail is fake muahahahahhahahahhahaha -->
                    <h1><img src="static/pictures/square1.png" alt="square" class="ico_categorie" />Contacts</h1>
                    <p>If you want any further information, please, feel free to contact us via : epidemio_simu@gmail.com</p>
                </article>

                <aside>
                    <h1>The Authors</h1>
                    <p id="cri_logo"><img src="static/pictures/cri_logo.png" alt="Logo CRI Paris" /></p>
                    <p>We are three bachelor students in the Frontières du Vivant at the CRI, Paris.</p>
                    <p>Our level on programming is beginner and we used mostly python through the year.</p>
					<p>This website was done using HTML and CSS, in addition with Python and Flask. It is optimized for Firefox.</p>					
                </aside>
				
            </section>
        </div>

    </body>

</html>